.nuntius-msg {
    position: absolute;
    right: 1%;
    top: 5%;
    color: white;
    padding: 20px 40px 20px 40px;
    border-radius: 0.5rem;
    min-width: 20rem;
    text-align: center;
}

.nuntius-error {
    background-color: red;
    box-shadow: 0 0 5px 2px #ff9a9a;
}

.nuntius-success {
    background-color: green;
    box-shadow: 0 0 5px 2px #60b560;
}
